Repository luojiyin1987/hanzi-write: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

lint config
  .eslintrc.json
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix package error
  pnpm-lock.yaml
Due: prettier --write

add pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

package update
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: repair husky hook, unify lint-staged, and fix input state sync
  .husky/pre-commit
  .lintstagedrc.json
  pages/index.tsx
Due: eslint --fix, prettier --write

chore(deps): bump dependencies to latest
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: migrate husky to v9 syntax and revert broken input fix
  .husky/pre-commit
  pages/index.tsx
Due: eslint --fix, prettier --write

refactor: replace Next.js/React with vanilla HTML + hanzi-writer
  .eslintrc.json
  .husky/pre-commit
  .prettierrc
  README.md
  index.html
  next-env.d.ts
  next.config.js
  package.json
  pages/index.tsx
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

chore: add vercel.json for static deployment
  vercel.json
Due: prettier --write

chore: vendor hanzi-writer locally instead of CDN
  index.html
  lib/hanzi-writer.min.js
Due: eslint --fix, prettier --write

chore: revert to external CDN for hanzi-writer
  index.html
  lib/hanzi-writer.min.js
Due: eslint --fix, prettier --write

fix(vercel): remove catch-all route causing static assets 404
  vercel.json
Due: prettier --write

feat: CDN first, fallback to local hanzi-writer
  index.html
  lib/hanzi-writer.min.js
Due: eslint --fix, prettier --write

feat: mobile-first responsive layout
  index.html
Due: none

feat: add toast feedback after quiz completion
  index.html
Due: none

Revert "feat: add toast feedback after quiz completion"
  index.html
Due: none

docs: update README with current features and structure
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,yaml,yml})
